[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = "*"
numpy = "*"
pandas = "*"
scipy = "*"
dm-haiku = "*"
optax = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
jupyter = "*"
equinox = "*"
scikit-learn = "*"
sacred = "*"
numpyro = "*"
pymongo = "*"
ruptures = "*"

[dev-packages]

[requires]
python_version = "3.9"
